::ng-deep .sx__event-modal__description,
::ng-deep .sx__event-modal p {
  white-space: pre-wrap !important;
}

::ng-deep .sx__week-grid__day-name {
  font-size: 11px !important;
  margin-bottom: 2px !important;
  color: #6b7280 !important;
  /* Gray-500 */
  text-transform: uppercase;
  font-weight: 500;
}

::ng-deep .sx__week-grid__date-number {
  font-size: 14px !important;
  font-weight: 600 !important;
  /* Gray-900 */
}