.ng-calendar-wrapper {
  width: 100%;
  height: 600px;
  max-height: 70vh;
  overflow-y: auto;
}

/* Reducir altura de las filas de tiempo */
.ng-calendar-wrapper ::ng-deep .sx__time-grid-hour {
  min-height: 40px !important;
  height: 40px !important;
}

.ng-calendar-wrapper ::ng-deep .sx__time-grid-day {
  min-height: 40px !important;
}